<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rafael José | Portfolio</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    {% load static %}
    <link rel = "stylesheet" href = "{% static 'css_portfolio/base.css' %}">

    {% block extra_styles %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Rafael José</h1>
            <nav>
                <a href="{% url 'portfolio:index' %}">Home</a>
                <a href="{% url 'portfolio:sobre' %}">Architecture</a>
                <a href="{% url 'portfolio:interesses' %}">Interests</a>
                <a href="{% url 'portfolio:projetos' %}">Projects</a>
                <a href="{% url 'portfolio:tecnologias' %}">Tools</a>
                <a href="{% url 'portfolio:cv' %}">CV</a>
                <a href="{% url 'portfolio:posts' %}">Articles</a>
                <a href="{% url 'portfolio:testes' %}">Tests</a>
                <a href="{% url 'portfolio:apis' %}">APIs RESTful</a>
                <a href="{% url 'portfolio:interessesdefesa' %}">Interesses defesa</a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'portfolio:logout' %}">Logout 👤{{request.user.username}}</a>
                {% else %}
                    <a href="{% url 'portfolio:login' %}">Login</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main>
        <div class="content">
            {% block main %}
            {% endblock %}
        </div>
    </main>

    <footer style="display: flex; justify-content: space-between; align-items: center;">
        <p style="margin: 0;">&copy; {{ data }} Rafael José, ManfelDev.</p>
        <p style="margin: 0;">👥 Total Visitors: {{ num_visitantes }}</p>
    </footer>
</body>
</html>