{% extends 'portfolio/base.html' %}

{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css_portfolio/form.css' %}">
{% endblock %}

{% block main %}
<h2>Edit Post</h2>

<form method="post" enctype="multipart/form-data" action="{% url 'portfolio:edita_post' post.id %}">
    {% csrf_token %}

    {% if form.errors %}
    <div class="error-message">
        <p><strong>Please correct the following errors</strong></p>
        {% for field in form %}
            {% for error in field.errors %}
                <p>{{ field.label }}: {{ error }}</p>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {% for field in form %}
        <div class="form-row">
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}

    <div class="button-wrapper" style="gap: 20px; margin-bottom: 0px;">
        <input type="submit" value="Save" class="custom-button">
        <a href="{% url 'portfolio:post_path' post.id %}" class="custom-button">Cancel</a>
        <a href="{% url 'portfolio:apaga_post' post.id %}" class="custom-button danger-button">Delete Post</a>
    </div>
</form>
{% endblock %}