{% extends 'portfolio/base.html' %}

{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css_portfolio/tecnologias.css' %}">
{% endblock %}

{% block main %}
<h2>Interesses</h2>

<div class="grid">
    {% for interesse in interessesdefesa %}
        <div class="card tech-card">
            <h2>{{ interesse.nome }}</h2>
            <p>{{ interesse.descricao|truncatechars:80 }}</p>
            <a href="{% url 'portfolio:interesse' interesse_id=interesse.id %}" class="custom-button view-details-button">Ver detalhes</a>
        </div>
    {% empty %}
        <p>Sem interesses disponiveis.</p>
    {% endfor %}
</div>

{% if request.user.is_authenticated %}
    <div class="button-wrapper" style="margin-bottom: 0;">
        <a href="{% url 'portfolio:novo_interesse' %}" class="custom-button">Adicionar novo interesse</a>
    </div>
{% endif %}
{% endblock %}