.tech-image {
    width: 100%;
    max-width: 350px;
    height: 230px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.tech-image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    margin: auto;
}

.tech-description {
    font-size: 1.2em;
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
}

.project-card {
    position: relative;
    width: 250px;
    aspect-ratio: 16/9;
    border-radius: 10px;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.5s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
}

.project-card:hover .overlay {
    background-color: rgba(0, 0, 0, 0);
}

.project-card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(31, 27, 36, 0.7);
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #bb86fc;
    z-index: 2;
    pointer-events: none;
}